.parent-container0{
    display: flex;
    flex-direction: column;
}

.parent-input0{
    height: 48px;
    border: 1px solid gray;
}

.parent-button0{
    height: auto;
    background-color: cadetblue;
    color: white;
}

.parent-item0{
    height: auto;
    margin: 8px;
    border: 1px solid cadetblue;
    list-style: none;
}

.delete-button0{
    height: auto;
    background-color: red;
    color: white;
}
.edit-button0{
    height: auto;
    background-color: cornflowerblue;
    color: white;
}